.bash_history
.cache/
.cfg.git
.config/BraveSoftware/
.config/GIMP/
.config/QtProject.conf
.config/clipse/tmp_files/
.config/font-manager/
.config/fontconfig/
.config/geany/session.conf
.config/gthumb/
.config/hyprland-mimeapps.list
.config/libfm/
.config/libreoffice/4/
.config/libreoffice/4/user/
.config/libreoffice/4/user/
.config/libreoffice/4/user/store/
.config/lxqt/
.config/mimeapps.list
.config/mozilla/
.config/mpv/memo-history.log
.config/mpv/scripts/
.config/pdfarranger/*
.config/pulse/
.config/rclone/
.config/simple-scan/
.config/vim/plugged/
.config/vim/undodir/
.config/xfce4/xfconf/
.config/xournalpp
.config/ytdownloader/
.cups/
.dotfiles/voidLiveIso/etc/skel
.gtkrc-2.0
.java/
.local/bin/etc/
.local/bin/fuzzel
.local/bin/fuzzel2
.local/bin/share/
.local/etc/
.local/icons/
.local/lib/
.local/share/.vivaldi_reporting_data
.local/share/Trash/
.local/share/applications/mimeapps.list
.local/share/doc/
.local/share/fish/
.local/share/gvfs-metadata/
.local/share/hyprland/
.local/share/libfm-qt/
.local/share/man/
.local/share/nvim/
.local/share/onlyoffice/
.local/share/recently-used.xbel
.local/share/sddm/
.local/share/zoxide/
.local/share/zsh/
.local/src/
.local/state/btop.log
.local/state/lesshst
.local/state/nvim/
.local/state/wireplumber/
.local/state/xournalpp/
.local/state/yazi/packages/
.nix-defexpr/
.nix-profile
.nvidia-settings-rc
.pki/
.ssh
.var/
.viminfo
.viminfo.tmp
.viminfu.tmp
.viminfv.tmp
.viminfw.tmp
.viminfx.tmp
.viminfy.tmp
.viminfz.tmp
.wget-hsts
.wiminfu.tmp
.wiminfw.tmp
.wiminfw.tmp
4
Dokumenty/
Hudba/
Public/
Sta\305\276en\303\251/
Stažené/
Videa/
local/bin/etc/
mpv/
nixos/
void-mklive/
void/
Templates/
.local/share/nautilus/tags/
.dbus/
