[Desktop Entry]
Name=Files - Nemo
Name[am]=ፋይሎች - Nemo
Name[ar]=الملفات - Nemo
Name[be]=Файлы - Nemo
Name[bg]=Файлове - Nemo
Name[br]=Restroù - Nemo
Name[ca]=Fitxers - Nemo
Name[ca@valencia]=Fitxers - Nemo
Name[cs]=Soubory - Nemo
Name[cy]=Ffeiliau - Nemo
Name[da]=Filer - Nemo
Name[de]=Dateien - Nemo
Name[el]=Αρχεία - Nemo
Name[eo]=Dosieroj - Nemo
Name[es]=Archivos - Nemo
Name[et]=Failid - Nemo
Name[eu]=Fitxategiak - Nemo
Name[fa]=فایل‌ها - Nemo
Name[fi]=Tiedostot - Nemo
Name[fr]=Fichiers - Nemo
Name[fr_CA]=Fichiers - Nemo
Name[he]=קבצים - Nemo
Name[hi]=फाइलें - Nemo
Name[hr]=Nemo - Nemo
Name[hu]=Fájlok - Nemo
Name[id]=Berkas - Nemo
Name[is]=Skrár - Nemo
Name[it]=File - Nemo
Name[ja]=ファイル - Nemo
Name[kab]=Ifuyla - Nemo
Name[ko]=파일 - Nemo
Name[la]=Plicae - Nemo
Name[lt]=Failai - Nemo
Name[ms]=Fail - Nemo
Name[nb]=Filer - Nemo
Name[nl]=Bestanden - Nemo
Name[oc]=Fichièrs - Nemo
Name[pl]=Pliki - Nemo
Name[pt]=Ficheiros - Nemo
Name[pt_BR]=Arquivos - Nemo
Name[ro]=Fișiere - Nemo
Name[ru]=Файлы - Nemo
Name[sk]=Súbory - Nemo
Name[sl]=Datoteke - Nemo
Name[sr]=Датотеке - Nemo
Name[sr@latin]=Datoteke - Nemo
Name[sv]=Filer - Nemo
Name[th]=แฟ้ม - Nemo
Name[tr]=Dosyalar - Nemo
Name[uk]=Файли - Nemo
Name[uz]=Fayllar - Nemo
Name[vi]=Tệp tin - Nemo
Name[zh_CN]=文件 - Nemo
Name[zh_HK]=檔案 - Nemo
Name[zh_TW]=檔案 - Nemo
Comment=Access and organize files
Comment[am]=ፋይሎች ጋር መድረሻ እና ማደራጃ
Comment[ar]=الوصول إلى الملفات وتنظيمها
Comment[be]=Доступ і кіраванне файламі
Comment[bg]=Достъп и управление на файлове
Comment[br]=Haeziñ ha kempenn restroù
Comment[ca]=Organitzeu i accediu als fitxers
Comment[ca@valencia]=Organitzeu i accediu als fitxers
Comment[cs]=Přístup k souborům a jejich správa
Comment[cy]=Mynediad a threfnu ffeiliau
Comment[da]=Tilgå og organisér filer
Comment[de]=Dateien aufrufen und organisieren
Comment[el]=Πρόσβαση και οργάνωση αρχείων
Comment[en_GB]=Access and organise files
Comment[eo]=Atingi kaj organizi dosierojn
Comment[es]=Acceder a los archivos y organizarlos
Comment[et]=Ligipääs failidele ning failipuu korrastamine
Comment[eu]=Atzitu eta antolatu fitxategiak
Comment[fa]=دسترسی و سازماندهی فایل‌ها
Comment[fi]=Avaa ja järjestä tiedostoja
Comment[fr]=Accéder aux fichiers et les organiser
Comment[fr_CA]=Accéder aux fichiers et les organiser
Comment[he]=גישה לקבצים וארגונם
Comment[hi]=फाइल अभिगम व प्रबंधन
Comment[hr]=Pristupite i organizirajte datoteke
Comment[hu]=Fájlok elérése és rendszerezése
Comment[ia]=Acceder e organisar le files
Comment[id]=Akses dan kelola berkas
Comment[ie]=Accesse e ordina files
Comment[is]=Aðgangur og skipulag skráa
Comment[it]=Accede ai file e li organizza
Comment[ja]=ファイルの操作や整理をします
Comment[ka]=ფაილებზე წვდომა და დალაგება
Comment[kab]=Kcem udiɣ suddes ifuyla
Comment[ko]=파일 접근 및 정리
Comment[lt]=Gauti prieigą prie failų ir juos tvarkyti
Comment[mo]=Акчесаря ши организаря фишиерелор
Comment[ms]=Capai dan urus fail
Comment[nb]=Få tilgang til og organiser filer
Comment[nl]=Bestanden gebruiken en organiseren
Comment[oc]=Accedir als fichièrs e los organizar
Comment[pl]=Porządkowanie i dostęp do plików
Comment[pt]=Aceder e organizar ficheiros
Comment[pt_BR]=Acesse e organize arquivos
Comment[ro]=Accesează și organizează fișiere
Comment[ru]=Управление и доступ к файлам
Comment[sk]=Pristupuje k súborom a organizuje ich
Comment[sl]=Dostop in razvrščanje datotek
Comment[sr]=Приступите датотекама и организујте их
Comment[sr@latin]=Pristupite datotekama i organizujte ih
Comment[sv]=Kom åt och organisera filer
Comment[th]=เข้าถึงและจัดระเบียบแฟ้ม
Comment[tr]=Dosyalara eriş ve düzenle
Comment[uk]=Доступ до файлів і  їх впорядковування
Comment[uz]=Fayllarga kirish va tartibga solish
Comment[vi]=Truy cập và sắp xếp các tập tin
Comment[zh_CN]=访问和组织文件
Comment[zh_HK]=存取與組織檔案
Comment[zh_TW]=存取並組織檔案
Exec=nemo %U
Icon=nautilus
# Icon=system-file-manager
# Translators: these are keywords of the file manager
Keywords=folders;filesystem;explorer;
Terminal=false
Type=Application
StartupNotify=false
Categories=GNOME;GTK;Utility;Core;
MimeType=inode/directory;application/x-gnome-saved-search;
Actions=open-home;open-computer;open-trash;

[Desktop Action open-home]
Name=Home - Nemo
Name[af]=Tuis - Nemo
Name[am]=ቤት - Nemo
Name[ar]=المجلد الرئيسي - Nemo
Name[be]=Хатняя - Nemo
Name[bg]=Домашна папка - Nemo
Name[bn]=হোম - Nemo
Name[br]=Degemer - Nemo
Name[bs]=Početni direktorij - Nemo
Name[ca]=Carpeta de l'usuari - Nemo
Name[ca@valencia]=Carpeta de l'usuari - Nemo
Name[cs]=Domov - Nemo
Name[cy]=Cartref - Nemo
Name[da]=Hjem - Nemo
Name[de]=Persönlicher Ordner - Nemo
Name[el]=Προσωπικός φάκελος - Nemo
Name[eo]=Hejmo - Nemo
Name[es]=Carpeta personal - Nemo
Name[et]=Kodu - Nemo
Name[eu]=Karpeta nagusia - Nemo
Name[fa]=خانه - Nemo
Name[fi]=Koti - Nemo
Name[fr]=Dossier personnel - Nemo
Name[fr_CA]=Dossier personnel - Nemo
Name[ga]=Baile - Nemo
Name[gd]=Dhachaigh - Nemo
Name[gl]=Cartafol persoal - Nemo
Name[he]=בית - Nemo
Name[hi]=होम - Nemo
Name[hr]=Osobna mapa - Nemo
Name[hu]=Saját mappa - Nemo
Name[ia]=Initio - Nemo
Name[id]=Beranda - Nemo
Name[ie]=Hem - Nemo
Name[is]=Heimamappa - Nemo
Name[ja]=ホーム - Nemo
Name[ka]=მთავარი - Nemo
Name[kab]=Agejdan - Nemo
Name[kk]=Үй - Nemo
Name[kn]=ಮನೆ - Nemo
Name[ko]=홈 - Nemo
Name[ku]=Mal - Nemo
Name[la]=Domus - Nemo
Name[lt]=Namai - Nemo
Name[ml]=ആസ്ഥാനം - Nemo
Name[mo]=Мапэ принчипалэ - Nemo
Name[mr]=मुख्य - Nemo
Name[ms]=Rumah - Nemo
Name[nb]=Hjem - Nemo
Name[nl]=Persoonlijke map - Nemo
Name[oc]=Dorsièr personal - Nemo
Name[pl]=Katalog domowy - Nemo
Name[pt]=Pasta pessoal - Nemo
Name[pt_BR]=Pasta pessoal - Nemo
Name[ro]=Dosar personal - Nemo
Name[ru]=Домашняя папка - Nemo
Name[sk]=Domovský priečinok - Nemo
Name[sl]=Domov - Nemo
Name[sr]=Почетна - Nemo
Name[sr@latin]=Lični direktorijum - Nemo
Name[sv]=Hem - Nemo
Name[ta]=இல்லம் - Nemo
Name[tg]=Асосӣ - Nemo
Name[th]=บ้าน - Nemo
Name[tr]=Ev Dizini - Nemo
Name[uk]=Домашній каталог - Nemo
Name[ur]=المنزل - Nemo
Name[uz]=Uy - Nemo
Name[vi]=Nhà - Nemo
Name[zh_CN]=主目录 - Nemo
Name[zh_HK]=家 - Nemo
Name[zh_TW]=家 - Nemo
Exec=nemo %U

[Desktop Action open-computer]
Name=Computer - Nemo
Name[af]=Rekenaar - Nemo
Name[am]=ኮምፒዩተር - Nemo
Name[ar]=الكمبيوتر - Nemo
Name[ast]=Ordenador - Nemo
Name[be]=Камп'ютар - Nemo
Name[bg]=Компютър - Nemo
Name[bn]=কম্পিউটার - Nemo
Name[br]=Urzhiataer - Nemo
Name[bs]=Računar - Nemo
Name[ca]=Ordinador - Nemo
Name[ca@valencia]=Ordinador - Nemo
Name[cs]=Počítač - Nemo
Name[cy]=Cyfrifiadur - Nemo
Name[de]=Rechner - Nemo
Name[el]=Υπολογιστής - Nemo
Name[eo]=Komputilo - Nemo
Name[es]=Equipo - Nemo
Name[et]=Arvuti - Nemo
Name[eu]=Ordenagailua - Nemo
Name[fa]=رایانه - Nemo
Name[fi]=Tietokone - Nemo
Name[fr]=Poste de travail - Nemo
Name[fr_CA]=Poste de travail - Nemo
Name[gd]=Coimpiutair - Nemo
Name[gl]=Computador - Nemo
Name[he]=מחשב - Nemo
Name[hi]=कंप्यूटर - Nemo
Name[hr]=Računalo - Nemo
Name[hu]=Számítógép - Nemo
Name[ia]=Computator - Nemo
Name[id]=Komputer - Nemo
Name[ie]=Computator - Nemo
Name[is]=Tölva - Nemo
Name[ja]=コンピューター - Nemo
Name[ka]=კომპიუტერი - Nemo
Name[kab]=Aselkim - Nemo
Name[kk]=Компьютер - Nemo
Name[kn]=ಗಣಕ - Nemo
Name[ko]=컴퓨터 - Nemo
Name[ku]=Komputer - Nemo
Name[la]=Computator - Nemo
Name[lt]=Kompiuteris - Nemo
Name[ml]=കമ്പ്യൂട്ടർ - Nemo
Name[mo]=Компутатор - Nemo
Name[mr]=संगणक - Nemo
Name[ms]=Komputer - Nemo
Name[nb]=Datamaskin - Nemo
Name[nn]=Datamaskin - Nemo
Name[oc]=Ordenador - Nemo
Name[pl]=Komputer - Nemo
Name[pt]=Computador - Nemo
Name[pt_BR]=Computador - Nemo
Name[ru]=Компьютер - Nemo
Name[sk]=Počítač - Nemo
Name[sl]=Računalnik - Nemo
Name[sq]=Kompjuteri - Nemo
Name[sr]=Рачунар - Nemo
Name[sr@latin]=Računar - Nemo
Name[sv]=Dator - Nemo
Name[ta]=கணினி - Nemo
Name[tg]=Компютер - Nemo
Name[th]=คอมพิวเตอร์ - Nemo
Name[tr]=Bilgisayar - Nemo
Name[uk]=Комп’ютер - Nemo
Name[ur]=کمپیوٹر - Nemo
Name[uz]=Kompyuter - Nemo
Name[vi]=Máy tính - Nemo
Name[zh_CN]=计算机 - Nemo
Name[zh_HK]=電腦 - Nemo
Name[zh_TW]=電腦 - Nemo
Exec=nemo computer:///

[Desktop Action open-trash]
Name=Trash - Nemo
Name[af]=Asblik - Nemo
Name[am]=ቆሻሻ - Nemo
Name[ar]=سلة المهملات - Nemo
Name[ast]=Papelera - Nemo
Name[be]=Сметніца - Nemo
Name[bg]=Кошче - Nemo
Name[bn]=ট্র্যাশ - Nemo
Name[br]=Lastez - Nemo
Name[bs]=Smeće - Nemo
Name[ca]=Paperera - Nemo
Name[ca@valencia]=Paperera - Nemo
Name[cs]=Koš - Nemo
Name[cy]=Sbwriel - Nemo
Name[da]=Papirkurv - Nemo
Name[de]=Papierkorb - Nemo
Name[el]=Απορρίμματα - Nemo
Name[en_GB]=Rubbish Bin - Nemo
Name[eo]=Rubujo - Nemo
Name[es]=Papelera - Nemo
Name[et]=Prügi - Nemo
Name[eu]=Zakarrontzia - Nemo
Name[fa]=زباله‌دان - Nemo
Name[fi]=Roskakori - Nemo
Name[fr]=Corbeille - Nemo
Name[fr_CA]=Corbeille - Nemo
Name[ga]=Bruscar - Nemo
Name[gd]=An sgudal - Nemo
Name[gl]=Lixo - Nemo
Name[he]=סל־מחזור - Nemo
Name[hi]=ट्रैश - Nemo
Name[hr]=Smeće - Nemo
Name[hu]=Kuka - Nemo
Name[ia]=Immunditia - Nemo
Name[id]=Tempat sampah - Nemo
Name[ie]=Paper-corb - Nemo
Name[is]=Rusl - Nemo
Name[it]=Cestino - Nemo
Name[ja]=ゴミ箱 - Nemo
Name[ka]=ნაგავი - Nemo
Name[kab]=Iḍumman - Nemo
Name[kk]=Себет - Nemo
Name[kn]=ಕಸಬುಟ್ಟಿ - Nemo
Name[ko]=휴지통 - Nemo
Name[ku]=Avêtî - Nemo
Name[la]=Purgamenta - Nemo
Name[lt]=Šiukšlinė - Nemo
Name[ml]=ട്രാഷ് - Nemo
Name[mo]=Кош - Nemo
Name[mr]=कचरापेटी - Nemo
Name[ms]=Tong Sampah - Nemo
Name[nb]=Papirkurv - Nemo
Name[nds]=Papierkorb - Nemo
Name[nl]=Prullenbak - Nemo
Name[nn]=Papirkorg - Nemo
Name[oc]=Escobilhièr - Nemo
Name[pl]=Kosz - Nemo
Name[pt]=Lixo - Nemo
Name[pt_BR]=Lixeira - Nemo
Name[ro]=Coș de gunoi - Nemo
Name[ru]=Корзина - Nemo
Name[sk]=Kôš - Nemo
Name[sl]=Smeti - Nemo
Name[sq]=Koshi - Nemo
Name[sr]=Смеће - Nemo
Name[sr@latin]=Korpa za smeće - Nemo
Name[sv]=Papperskorg - Nemo
Name[ta]=குப்பைத் தொட்டி - Nemo
Name[tg]=Сабад - Nemo
Name[th]=ถังขยะ - Nemo
Name[tr]=Çöp - Nemo
Name[uk]=Смітник - Nemo
Name[ur]=ردی - Nemo
Name[uz]=Chiqindi - Nemo
Name[vi]=Thùng rác - Nemo
Name[zh_CN]=回收站 - Nemo
Name[zh_HK]=垃圾桶 - Nemo
Name[zh_TW]=回收筒 - Nemo
Exec=nemo trash:///
