[Desktop Entry]
Encoding=UTF-8
Name=Vim 
Version=9.1
Type=Application
NoDisplay=false
Terminal=false
Exec=kitty --class vim -e vim
Comment=Vim editor
Icon=gvim
